// wrapper
.grid
    display flex
    flex-wrap wrap
    // equal height all rows, used at inner box
    &-stretch
        > *
            height 100%
    // inner box
    &-3
        width 33.3%
        // gap
        padding 0.5rem
